/*body{
	/*background: blue;
	display : flex;
	position : relative;
	border : none;
	padding-left : 17;
 	padding-right : 17%;
 	padding-top : 10%;
 	padding-bottom : 10%
	}
form{
	background : white;
	text-align : right;
}

button{
	background : blue;
	font : white;
	text-align : center;
	margin-left : 30%;
	margin-right : 30%;
	margin-bottom: 0.5cm;
	margin-top:1cm;
	}
p.class_blablabas{
	text-align : right; 
	font-size : 10;
}

p.class_blablagauche{
	text-align : left;
	font-size : 8;
	 }	
*/